*.pyc

# data files:
data/lidong/*
data/election/*

# resource files:
resources/lexicons/*
resources/wordemb/*

# already trained model files:
models/cv/*
models/*.model

# stored feature range file:
liblinear/range
